{
    "token": str,
    "twitter": {
        "consumer_key": str,
        "consumer_secret": str,
        "access_token": str,
        "access_token_secret": str,
        supported_accounts = list[str]
    }
}